body {
  background-color: #fff;
  margin: 0px;
  padding: 0px;
}

#data_list article {
  display: flex;
}
.player_Block {
  flex-basis: 69%;
  padding: 0px 20px;
}
.list_Block {
  flex-basis: 29%;
}
iframe {
  width: 100% !important;
  height: 500px !important;
}
.player_Block h1 {
  font-size: 20px;
  padding: 20px 0px;
}
.player_Block p {
  font-size: 14px;
  padding: 0px 0px 40px;
  border-bottom: 1px solid #ccc;
}
