body {
  margin: 0px;
  padding: 0px;
  background-color: #fff;
}
#header article {
  padding-left: 2%;
  display: flex;
  height: 60px;
  align-items: center;
  background-color: #fff;
}

.logo {
  flex: 3;
}
.logo img {
  width: 40%;
}
.search {
  flex: 6;
}

.login {
  flex: 2;
}
.video {
  padding-right: 10%;
}
.grid {
  padding-right: 10%;
}
.noti {
  padding-right: 10%;
}
#vMenu {
  background-image: linear-gradient(rgb(212, 202, 202));
  width: 200px;
  height: 100vh;
}

#vMenu li a {
  color: #111;
  text-decoration: none;
  padding: 10px 20px;
  border-bottom: 1px solid #fff;
  font-weight: bold;
  display: block;
}

#vMenu ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
#vMenu ul li a:hover {
  background-image: linear-gradient(rgb(14, 12, 12));
  border-left: 2px solid #111;
  transition: ease-in all 0.7s;
}
#vMenu span {
  padding-right: 10px;
}
